.ce-block--selected .ce-block__content,
.ce-inline-toolbar,
.codex-editor--narrow .ce-toolbox,
.ce-conversion-toolbar,
.ce-settings,
.ce-settings__button,
.ce-toolbar__settings-btn,
.cdx-button,
.ce-popover,
.ce-toolbar__plus:hover {
  background: theme('colors.popover.DEFAULT');
  color: inherit;
	border-color: theme('colors.border');
}

.ce-inline-tool,
.ce-conversion-toolbar__label,
.ce-toolbox__button,
.cdx-settings-button,
.ce-toolbar__plus {
  color: inherit;
}

.ce-popover__item-icon,
.ce-conversion-tool__icon {
	background-color: theme('colors.muted.DEFAULT');
	box-shadow: none;
}

.cdx-search-field {
	border-color: theme('colors.border');
	background: theme('colors.input');
	color: inherit;
}

::selection {
  background: theme('colors.accent.DEFAULT');
}

.cdx-settings-button:hover,
.ce-settings__button:hover,
.ce-toolbox__button--active,
.ce-toolbox__button:hover,
.cdx-button:hover,
.ce-inline-toolbar__dropdown:hover,
.ce-inline-tool:hover,
.ce-popover__item:hover,
.ce-conversion-tool:hover,
.ce-toolbar__settings-btn:hover {
  background-color:theme('colors.accent.DEFAULT');
  color: theme('colors.accent.foreground');;
}

.cdx-notify--error {
  background: theme('colors.destructive.DEFAULT') !important;
}

.cdx-notify__cross::after,
.cdx-notify__cross::before {
  background: white;
}

/* .ce-paragraph {
  line-height: 1.2em !important;
}

.cdx-list__item {
  line-height: 1.2em !important;
  padding: 0px 0px !important;
} */

.ce-header {
  color: inherit !important; 
  font-family: theme('fontFamily.heading');
}

h1.ce-header {
  font-size: 2rem;
  line-height: 2rem;
}

h2.ce-header {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

h3.ce-header {
  font-size: 1.42rem;
  line-height: 1.42rem;
}

h4.ce-header {
  font-size: 1.28rem;
  line-height: 1.28rem;
}

h5.ce-header {
  font-size: 1.18rem;
  line-height: 1.18rem;
}

.ce-block {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.ce-block {
  transition: all 0.2s ease;
}


.image-tool__image-picture  {
  margin-bottom: 0px !important;
  border-radius: 4px;
}

.cdx-input {
  border-radius: 4px;
  opacity: 0.7;
  /* padding: 4px 10px !important; */
  box-shadow: none;
}


/* .codex-editor--narrow .ce-block--focused {
  margin-right: 0px;
  padding-right: 0px;
} */


.image-tool__caption {
  padding: 0px;
  font-size: 12px;
  border: none;
}